flows_raspberrypi.json
[{"id":"b5036ca2.61cb5","type":"tab","label":"SolarHome","disabled":false,"info":""},{"id":"f5c0f9b0.993338","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"bab64bb0.2a4488","type":"thinger-server","z":"","host":"api.thinger.io","name":"","ssl":true,"token":"eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJqdGkiOiJ0b2tlbiIsInVzciI6Im5hYmVlbCJ9.5wSe0Z6fHbzhkcmYHoxpoT-AXHshzI5sKcXo4J_6V_E"},{"id":"dad9b92b.837f88","type":"mqtt-broker","z":"","name":"","broker":"localhost","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"e8ee8511.19a098","type":"google-iot-core-broker","z":"","name":"google iot","broker":"mqtt.googleapis.com","port":"443","tls":"afc9872.8c7e378","clientid":"projects/solarhome-254115/locations/asia-east1/registries/solarHome/devices/raspi","projectid":"solarhome-254115","registryid":"solarHome","deviceid":"raspi","region":"asia-east1","keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willPayload":"","birthTopic":"","birthQos":"0","birthPayload":"","persistout":false,"persistin":true,"compactinterval":"30"},{"id":"afc9872.8c7e378","type":"tls-config","z":"","name":"","cert":"","key":"","ca":"","certname":"rsa_cert.pem","keyname":"rsa_private.pem","caname":"","servername":"","verifyservercert":true},{"id":"b7ee9b91.2b7078","type":"rmdevice","z":"","folder":"/home/pi/rm3","mac":"24dfa72d546d","host":"192.168.18.181"},{"id":"4c5f5f5d.4e07","type":"mqtt in","z":"b5036ca2.61cb5","name":"Inverter","topic":"maxpower/sensor/maxpower_Inverter_Data","qos":"2","datatype":"auto","broker":"f5c0f9b0.993338","x":210,"y":60,"wires":[["57739a24.4988f4"]]},{"id":"57739a24.4988f4","type":"json","z":"b5036ca2.61cb5","name":"","property":"payload","action":"","pretty":false,"x":350,"y":60,"wires":[["eaf0c9e3.cd1168"]]},{"id":"eaf0c9e3.cd1168","type":"function","z":"b5036ca2.61cb5","name":"addMetadata","func":"msg.payload.Timestamp = new Date();\nmsg.payload.PV_in_watts = msg.payload.PV_in_current * msg.payload.PV_in_voltage;\nif(msg.payload.Warnings == '00000000000000000000000000000000') {\n    msg.payload.Warnings = null;\n    msg.payload.clouds = flow.get(\"clouds\");\n}\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":60,"wires":[["639efd3b.7f6724"]]},{"id":"73daa59d.3f769c","type":"bucket-write","z":"b5036ca2.61cb5","name":"data bucket","bucket":"maxpower","server":"bab64bb0.2a4488","x":970,"y":200,"wires":[]},{"id":"ba726046.f60f","type":"catch","z":"b5036ca2.61cb5","name":"","scope":null,"uncaught":false,"x":520,"y":320,"wires":[["eded7c7.804858","4fb94d0c.d41f04"]]},{"id":"4fb94d0c.d41f04","type":"debug","z":"b5036ca2.61cb5","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":440,"wires":[]},{"id":"2fe03db5.26f3d2","type":"function","z":"b5036ca2.61cb5","name":"dataAlerts","func":"if(msg.payload.Battery_capacity < 50) {\n    msg.payload.alert = \"Battery running low: \" + msg.payload.Battery_capacity + \" %\";\n    msg.payload.reduce_load = true;\n}\nif(msg.payload.Battery_discharge_current > 35) {\n    msg.payload.alert = \"Battery discharge current too high\";\n}\nif(msg.payload.Load_watt > 3500) {\n    msg.payload.alert = \"Output load too high\";\n    msg.payload.reduce_load = true;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["73daa59d.3f769c","31526c7.95b7894","6a958e14.7e85b","34fffeb5.10c532","cf41b3d3.8c464"]]},{"id":"31526c7.95b7894","type":"function","z":"b5036ca2.61cb5","name":"checkAlerts","func":"if(msg.payload.alert || msg.payload.suggested_action) {\n    return msg;\n    \n}\nreturn null;","outputs":1,"noerr":0,"x":510,"y":220,"wires":[["f3d2835e.bc90f","19d88976.27b7a7","fdfa27a2.205b28"]]},{"id":"fdfa27a2.205b28","type":"endpoint-call","z":"b5036ca2.61cb5","name":"sendAlert","endpoint":"alert","server":"bab64bb0.2a4488","x":960,"y":240,"wires":[]},{"id":"639efd3b.7f6724","type":"function","z":"b5036ca2.61cb5","name":"suggestActions","func":"var date = new Date();\n\n\nvar sbuStartHour = 5; var sbuStartMin = 0;\nvar sbuEndHour = 15; var sbuEndMin = 0;\n\nvar sbuBatteryUpperLimit = 90;\nvar sbuBatteryLowerLimit = 50;\n\nif(date.getHours() >= 8) {\n    sbuBatteryUpperLimit = 100;\n    sbuBatteryLowerLimit = 60;\n}\n\nif(date.getHours() >= 9) {\n    sbuBatteryUpperLimit = 100;\n    sbuBatteryLowerLimit = 70;\n}\n\nif(flow.get(\"sunrise\")) {\n    var sunrise = new Date(flow.get(\"sunrise\")*1000);\n    sbuStartHour = sunrise.getHours() - 3;\n    sbuStartMin = sunrise.getMinutes() + 30;\n    if(sbuStartMin >= 60) {\n        sbuStartMin = sbuStartMin - 60;\n        sbuStartHour += 1;\n    }\n}\n\n\nvar hybrid = msg.payload.Out_source_priority == 2 &&\n            (date.getHours() > sbuEndHour || (date.getHours() == sbuEndHour && date.getMinutes() >= sbuEndMin));\n\nvar sbu = msg.payload.Out_source_priority == 1 &&\n          (date.getHours() > sbuStartHour || (date.getHours() == sbuStartHour && date.getMinutes() >= sbuStartMin)) && \n          (date.getHours() < sbuEndHour || (date.getHours() == sbuEndHour && date.getMinutes() < sbuEndMin)) && \n          msg.payload.Load_watt < 1000 &&\n          msg.payload.Battery_capacity >= sbuBatteryUpperLimit && \n          (flow.get(\"clouds\") || flow.get(\"clouds\") === 0) && flow.get(\"clouds\") <= 50;\n          \n          \n          \n\n// if battery discharge current is too high or battery is running low then exit SBU mode\nif(msg.payload.Out_source_priority == 2) {\n    if(msg.payload.Battery_discharge_current >= 35 || \n        msg.payload.Battery_capacity <= sbuBatteryLowerLimit ||\n        flow.get(\"clouds\") > 50) {\n        hybrid = true;\n    }\n}\n\n\nif(sbu && !hybrid) {\n    context.set(\"sbu\", true);\n    msg.payload.suggested_action = \"SBU mode\";\n    msg.payload.inverter_command = \"POP02\";\n    node.warn(msg.payload.suggested_action);\n    \n} else if(hybrid) {\n    context.set(\"sbu\", false);\n    msg.payload.suggested_action = \"Hybrid mode\";\n    msg.payload.inverter_command = \"POP01\";\n    node.warn(msg.payload.suggested_action);\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":740,"y":60,"wires":[["2fe03db5.26f3d2"]]},{"id":"ffcf3e.35b540c","type":"mqtt out","z":"b5036ca2.61cb5","name":"Inverter","topic":"maxpower/sensor/maxpower","qos":"2","retain":"","broker":"dad9b92b.837f88","x":960,"y":280,"wires":[]},{"id":"6a958e14.7e85b","type":"function","z":"b5036ca2.61cb5","name":"changeMode","func":"var output;\nif(msg.payload.suggested_action && msg.payload.inverter_command) {\n    node.warn('Changing Inverter mode to ' + msg.payload.suggested_action + \" - Command: \" + msg.payload.inverter_command);\n    output = {\n        payload: msg.payload.inverter_command\n    };\n}\n\nreturn output;","outputs":1,"noerr":0,"x":510,"y":260,"wires":[["ffcf3e.35b540c"]]},{"id":"361f12b9.b4ae5e","type":"RM","z":"b5036ca2.61cb5","name":"turnOffAC","device":"b7ee9b91.2b7078","action":"send","remote":"","button":"","fix":1,"RFSweep":"false","x":960,"y":160,"wires":[[]]},{"id":"f3d2835e.bc90f","type":"switch","z":"b5036ca2.61cb5","name":"reduceLoad","property":"payload.reduce_load","propertyType":"msg","rules":[{"t":"true"}],"checkall":"true","repair":false,"outputs":1,"x":750,"y":160,"wires":[[]]},{"id":"669cbb47.3bf434","type":"http request","z":"b5036ca2.61cb5","name":"getSunriseTime","method":"GET","ret":"obj","paytoqs":false,"url":"http://api.openweathermap.org/data/2.5/weather?q=Lahore,pk&APPID=cc4665d18a8ead39f208670e76b823f7","tls":"","proxy":"","authType":"","x":500,"y":400,"wires":[["ada6c716.5d8ea8","4fb94d0c.d41f04","19d88976.27b7a7"]]},{"id":"ada6c716.5d8ea8","type":"change","z":"b5036ca2.61cb5","name":"set weather info","rules":[{"t":"set","p":"sunrise","pt":"flow","to":"payload.sys.sunrise","tot":"msg"},{"t":"set","p":"clouds","pt":"flow","to":"payload.clouds.all","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":740,"y":420,"wires":[[]]},{"id":"eded7c7.804858","type":"file","z":"b5036ca2.61cb5","name":"syslog","filename":"/home/pi/log.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":340,"wires":[[]]},{"id":"19d88976.27b7a7","type":"json","z":"b5036ca2.61cb5","name":"format","property":"payload","action":"str","pretty":true,"x":770,"y":300,"wires":[["eded7c7.804858"]]},{"id":"86d9932b.c22a2","type":"inject","z":"b5036ca2.61cb5","name":"15 min","topic":"","payload":"","payloadType":"date","repeat":"900","crontab":"","once":false,"onceDelay":0.1,"x":280,"y":400,"wires":[["669cbb47.3bf434"]]},{"id":"cf41b3d3.8c464","type":"google-iot-core out","z":"b5036ca2.61cb5","name":"","qos":"","retain":"","broker":"e8ee8511.19a098","x":980,"y":100,"wires":[]},{"id":"34fffeb5.10c532","type":"file","z":"b5036ca2.61cb5","name":"data file","filename":"/home/pi/data.json","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":960,"y":60,"wires":[[]]},{"id":"e594fe16.d7fef","type":"exec","z":"b5036ca2.61cb5","command":"sudo reboot","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"reboot","x":970,"y":520,"wires":[[],[],[]]},{"id":"b188b6e7.fe8758","type":"inject","z":"b5036ca2.61cb5","name":"inject","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":270,"y":520,"wires":[["e594fe16.d7fef"]]},{"id":"640e49b9.305448","type":"webhookrelay","z":"b5036ca2.61cb5","buckets":"nodered","x":270,"y":620,"wires":[["9ad92acd.3f6fa8"]]},{"id":"b4f6637.e27aba","type":"switch","z":"b5036ca2.61cb5","name":"incident open","property":"payload.body.incident.state","propertyType":"msg","rules":[{"t":"eq","v":"open","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":660,"y":620,"wires":[["e594fe16.d7fef","fdfa27a2.205b28"]]},{"id":"9ad92acd.3f6fa8","type":"json","z":"b5036ca2.61cb5","name":"","property":"payload.body","action":"obj","pretty":false,"x":470,"y":620,"wires":[["b4f6637.e27aba","4fb94d0c.d41f04"]]}]